@model IEnumerable<SGEP.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
    string controller = "Funcionario";
}

<br />
<h2>Funcionários</h2>
<br />
<button onclick="add()" class="btn btn-success squareborder"><i class="fas fa-plus"></i> Adicionar</button>
<button id="edit" 
        class="btn btn-outline-secondary squareborder" 
        disabled 
        title="Selecione um item da lista abaixo"><i class="fas fa-edit"></i> Editar</button>
        
<button id="details" 
        class="btn btn-outline-secondary squareborder" 
        disabled 
        title="Selecione um item da lista abaixo"><i class="fas fa-info"></i> Detalhes</button>

<div class="float-right d-inline">
    <button class="btn btn-outline-primary squareborder" 
            data-toggle="collapse" 
            data-target="#pesquisa" 
            aria-expanded="false" 
            aria-controls="pesquisa" 
            title="Pesquisar"><i class="fas fa-search"></i></button>

    <button class="btn btn-outline-secondary squareborder" 
            onclick="list()"
            title="Atualizar"><i class="fas fa-sync"></i></button>

    <button id="btn-del" 
            class="btn btn-outline-danger squareborder" 
            onclick="toggleDelete()"
            title="Remover"><i class="fas fa-trash"></i></button>
</div>
<br/>
<div class="container row justify-content-center">
    <div class="collapse col-md-12" id="pesquisa">
    <br/>
        <div class="card card-body">
            <form class="form">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="form-control squareborder" type="number" placeholder="Código" aria-label="Search" id="search-codigo">
                    </div>
                    <div class="col">
                        <input class="form-control squareborder" type="text" placeholder="Nome" aria-label="Search" id="search-nome">
                    </div>
                    <div class="col">
                        <input class="form-control squareborder" type="text" placeholder="Cargo" aria-label="Search" id="search-cargo">
                    </div>
                </div>
            </form>
            <br />
            <div class="float-right">
                <a id="search-search" href="#" class="float-right">Pesquisar</a>
            </div>
        </div>
    </div>
</div>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

@section Scripts
{
    <script>
        const lista = document.getElementById('lista');
        const checkDel = document.getElementById('checkDel');
        const controller = 'Funcionario';
        $('#search-search').on("click", () => 
        {
            getAll(document.getElementById('search-codigo').value, 
                   document.getElementById('search-nome').value,
                   document.getElementById('search-cargo').value);
        });
        list();
        function list()
        {
            getAll('','', '');
        }

        function getAll(id, nome, cargo)
        {
            console.log(id, nome, cargo);
            lista.innerHTML = '<tr><td colspan=4 class="reloading"><i class="fas fa-sync reloading"></i></td></tr>';
            fetch('/' + controller + '/List/?id=' + id + '&nome=' + nome + '&cargo=' + cargo)
            .then((res) => res.json())
            .then((json) => 
            {
                lista.innerHTML = '';
                for(const f of json)
                {
                    //lista.innerHTML +=
                        //'<tr id="' + f.id + '" class="selectable loading" onclick="selectRow(' + f.id + ')">' +
                    var tr = document.createElement("tr");
                    tr.id = f.id
                    tr.className = "selectable loading";
                    tr.onclick = function () { selectRow(f) };
                    tr.innerHTML = '';
                    tr.innerHTML = '<td>' +
                        f.id +
                        '</td>' +
                        '<td>' +
                        f.nome +
                        '</td>' +
                        '<td>' +
                        f.cargo +
                        '</td>' +
                        '<td>' +
                        //'<a href="Edit/'+ f.id + '">Edit</a> |' + 
                        //'<a href="Details/'+ f.id + '">Details</a> |' +
                        '<a class="txt-danger float-right delete text-danger" href="#" + onclick="remove(' + f.id + ')" hidden="true"><i class="fas fa-minus-circle" style="font-size: 18px"></i></a>' +
                        '</td>';
                       // '</tr>';
                    lista.appendChild(tr);
                }
            });
        }

        function add()
        {
            fetch('/' + controller + '/Add', { method: 'POST' }).then((res) => list());
        }

        function remove(id)
        {
            fetch('/' + controller + '/Delete/' + id, { method: 'POST' }).then((res) => list());
        }

        function toggleDelete()
        {
            const btnDels = document.getElementsByClassName('delete');
            const checkDel = document.getElementById('checkDel');
            for(const btn of btnDels)
                btn.hidden = !btn.hidden;
        }
        function selectRow (func)
        {
            const selected = $('.selected');
            if (selected.length > 0) 
                selected[0].setAttribute('class', 'selectable');
            $('#' + func.id).attr('class', 'selected');
            $('#edit').attr('disabled', false);
            $('#edit').on('click', () => 
            {
                //Código do modal
            });
            $('#details').attr('disabled', false);
            $('#details').on('click', () => 
            {
                var idfield = document.getElementById('idfield');
                idfield.innerText = "FUN - " + func.id;
                var namefield = document.getElementById('namefield');
                namefield.textContent = func.nome;
                var cargofield = document.getElementById('cargofield');
                cargofield.textContent = func.cargo;
                gerarlista(func.id);
                $('#detailsmodal').modal('toggle');
                $('#surprassmodal').modal('toggle');
            });

        }
        /*function catchprojass(id)
        {
            return fetch('/' + controller + '/ProjetosAssociados/' + id,
                { method: 'GET' }).then((res) => res.json())
                .then((json));
        }*/
        function gerarlista(id)
        {
            /*var json = catchprojass(id);
            var projlista = document.getElementById('projlista');
            projlista.innerHTML = '';
            for (var p of json)
            {
                projlista.innerHTML += '<tr>'+
                    '<td>' +
                    p.id +
                    '</td>' +
                    '<td>' +
                    p.nome +
                    '</td>' +
                    '<td>' +
                    p.inicio +
                    '</td>' +
                    '<td>' +
                    p.fim +
                    '</td>' +
                    '<td>' +
                    //'<a class="txt-danger float-right delete text-danger" href="#" + onclick="remove(' + f.id + ')" hidden="true"><i class="fas fa-minus-circle" style="font-size: 18px"></i></a>' +
                    '</td>';
                    '</tr>';
            }*/
            fetch('/' + controller + '/ProjetosAssociados/?id=' + id).then((res) => res.json())
                .then((json) => {
                    var theadr = document.getElementById('theadr');
                    theadr.innerHTML = '';
                    theadr.innerHTML = '<th>' +
                        json.id +
                        '</th >' +
                        '<th>' +
                        json.nome +
                        '</th>' +
                        '<th>' +
                        json.inicio +
                        '</th>' +
                        '<th>' +
                        json.fim +
                        '</th>';
                    var tbody = document.getElementById('projlista');
                    tbody.innerHTML = '';
                    for (const p of json) {
                        tbody.innerHTML += '<tr>' +
                            '<td>' +
                            p.id +
                            '</td>' +
                            '<td>' +
                            p.nome +
                            '</td>' +
                            '<td>' +
                            p.inicio +
                            '</td>' +
                            '<td>' +
                            p.fim +
                            '</td>' +
                            '</tr>';
                    }
                });
        }
    </script>
}
<!--Código do Modal de detalhes-->
<div class="modal fade" id="detailsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modaltitle">Detalhes do Funcionário</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
                <h4>Informações:</h4>
                <table class="table table-bordered shadow-regular">
                    <tr>
                        <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Id)</td>
                        <td id="idfield">FUN-</td>
                    </tr>
                    <tr>
                        <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Nome)</td>
                        <td id="namefield">placeholder</td>
                    </tr>
                    <tr>
                        <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Cargo)</td>
                        <td id="cargofield">placeholder</td>
                    </tr>
                </table>
                <h4>Projetos Associados:</h4>
                <table class="table">
                    <thead class="thead-dark" id="theadproj">
                        <tr id="theadr">
                            <!--<th>
                                ID
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Início
                            </th>-->
                            <th>
                                Fim
                            </th>
                        </tr>
                    </thead>
                    <tbody id="projlista">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="surprassmodal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modalbody">
            <table class="table table-bordered shadow-regular">
                <tr>
                    <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Id)</td>
                    <td id="idfield">FUN-</td>
                </tr>
                <tr>
                    <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Nome)</td>
                    <td id="namefield">placeholder</td>
                </tr>
                <tr>
                    <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Cargo)</td>
                    <td id="cargofield">placeholder</td>
                </tr>
            </table>
        </div>
    </div>
</div>