@model IEnumerable<SGEP.Models.Projeto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //Se ligue nesse onclick aq, ele é importante
            <tr onclick="showdetailsmodal(@Html.DisplayFor(modelItem => item.Id))">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fim)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    //script pra abrir o modal de detalhes
    function showdetailsmodal(id) {
        atualizaralocacao(id);
        fetch('/Projeto/ProjetoSelecionado/?id=' + id).then((res) => res.json()).then(proj => {
            var detailstable = document.getElementById('detailstable');
            var nomes = ['ID', 'Nome', 'Início', 'Fim'];
            detailstable.innerHTML = gerardetailslist(nomes, proj);
        });
        document.getElementById('abriralocacao').onclick = function () {
            gerartabelas(id);
            $('#alocacaomodal').modal('toggle');
            $('#detailsmodal').modal('toggle');
        }
        $('#detailsmodal').modal('toggle');
    }
    //script pra atualizar a tabela de alocação sempre que precisar
    function atualizaralocacao(id) {
        fetch('/Projeto/FuncionarioNomes').then((res) => res.json()).then(nomes => {
            fetch('/Projeto/FuncionariosAlocados/?id=' + id).then((res) => res.json()).then(lista => {
                var tabela = document.getElementById('tableidd');
                tabela.innerHTML = gerarlist(nomes, lista);
            });
        });
    }
</script>
<!--MODAL DE DETALHES-->
<div class="modal fade" id="detailsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modaltitle">Detalhes do Projeto</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbodyr">
                <h4>Informações:</h4>
                <table class="table table-bordered shadow-regular" id="detailstable"></table>
                <h4>Funcionários Associados:</h4>
                <table class="table" id="tableidd"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary squareborder" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary squareborder" id="abriralocacao">Editar Alocações</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL DE ALOCAÇÃO-->

<div class="modal fade" id="alocacaomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title">Alocação</h5>
                <button type="button" style="color:white;" class="close" onclick="alocardismiss()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">
                <h5 class="modal-title" style="float: left;">Funcionários alocados:</h5>
                <h5 class="modal-title" style="float: right;">Funcionários não alocados:</h5>
                <br />
                <table class="table table-bordered shadow-regular" style="float: left; width: 45%" id="tabelaalocados"></table>
                <table class="table table-bordered shadow-regular" style="float: right; width: 45%" id="tabelanaoalocados"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary squareborder" onclick="alocardismiss()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    //scripts pra alocação
    var alocadostab = document.getElementById('tabelaalocados');
    var nalocadostab = document.getElementById('tabelanaoalocados');
    function gerartabelas(id) {
        fetch('/Projeto/FuncionarioNomes').then((res) => res.json()).then(nomes => {
            fetch('/Projeto/FuncionariosAlocados/?id=' + id).then((res) => res.json()).then(func => {
                alocadostab.innerHTML = gerarlist(nomes, func, 'desalocar', id);
            });
            fetch('/Projeto/FuncionariosNaoAlocados/?id=' + id).then((res) => res.json()).then(func => {
                nalocadostab.innerHTML = gerarlist(nomes, func, 'alocar', id);
            });
        });
    }
    function alocar(funid, projid) {
        const data = new FormData();
        data.append('IdFuncionario', funid);
        data.append('IdProjeto', projid);
        fetch('/Projeto/AlocarFuncionario', { method: 'POST', body: data }).then(retorno => {
            gerartabelas(projid);
        });
        atualizaralocacao(projid);
    }
    function desalocar(funid, projid) {
        fetch('/Projeto/DesalocarProjeto?idfunc=' + funid + '&idproj=' + projid, { method: 'POST' }).then(retorno => {
            gerartabelas(projid);
        });
        atualizaralocacao(projid);
    }
    function alocardismiss() {
        $('#alocacaomodal').modal('toggle');
        $('#detailsmodal').modal('toggle');
    }
    /*function testemodal(id) {
        fetch('/Projeto/FuncionariosNaoAlocados/?id=' + id).then((res) => res.json()).then(func => {
            var bd = document.getElementById('mdbody');
            for (f of func) {
                bd.innerHTML += '<h5>' + f + '</h5>';
            }
        });
        $('#mdteste').modal('toggle');
    }*/
</script>
<!--TESTE COM MODAL
<div class="modal fade bd-example-modal-sm" tabindex="-1" id="mdteste" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="mdbody">
            ...
        </div>
    </div>
</div>
TESTE COM MODAL-->

<script type="text/javascript" src="~/js/site.js"></script>